
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter {
  font-family: "Inter", sans-serif;
}

.noto-serif {
  font-family: "Noto Serif", serif;
}

/*shared style*/
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}


/*navbar style*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
.ul-list ul{
    display: flex;
    gap: 48px;
}
.nav-item{
    list-style: none;
}
.item-link{
    text-decoration: none;
    color: #8987A1;
}
.home{
    font-weight: 700;
    color: #252432;
}
.cart{
    color: #000000;
}
.nav-item-shop-cart{
    display: flex;
}

/*banner style*/
.banner{
    display: flex;
    align-items: flex-end;
    margin-bottom: 120px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    margin-bottom: 13px;
}
.fresh-flowers{
    color: #E95A08;
}
.banner-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

/*our plants*/
.plants{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 210px;
}
.plants-title-description{
    text-align: center;
}
.plants-title{
    font-size: 3.125rem;
    font-weight: 700px;
    margin-bottom: 16px;
}
.our{
    color: #E95A08;
}
.plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 49px;
}
.lilly-blossom{
    font-size: 1.375rem;
    font-weight: 500px;
    color: rgba(17, 17, 17, 1);
}
.price{
    font-size: 1.375rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
}
.btn{
    width: 270px;
    height: 50px;
    font-weight: 600;
    color: white;
    background-color: #E95A08;
    border: none;
}
.card{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    text-align: center;
}
.plant-name-price{
    padding: 30px 0px;
}


/*flower and plant lover style*/
.flower-and-plant-lover{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 134px;
}
.store-title{
    font-size: 3.125rem;
    font-weight: 700px;
    margin-bottom: 0px;
}
.store-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.trusted-badge{
    max-width: 286px;
    max-height: 286px;
    position: absolute;
    left: 350px;
    top: -120px;
}


/*latest deal*/
.latest-deal{
    text-align: center;
    margin-bottom: 120px;
}
.latest-deal-title{
    font-size: 3.125rem;
    font-weight: 700px;
    margin-bottom: 16px;
}
.latest{
    color: #E95A08;
}
.latest-deal-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}



/*discount section*/
.discount-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
    filter: brightness(90%)
}
.discount{
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}
.bloom-ana{
    width: 50%;

}
.bloom{
    background-image: url('../assets/deal-bloom.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 28px;
}
.ana{
    background-image: url('../assets/deal-ana.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.zabo{
    background-image: url('../assets/deal-zabo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 433px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bloom-ana-title{
    font-size: 1.25rem;
    font-weight: 700px;
    color: #FFFFFF;
}
.zabo-title{
    font-size: 2.5rem;
    font-weight: 700px;
    color: #FFFFFF;
}
.shop-now-bloom-ana{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500px;
}
.shop-now{
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 600px;
}



/*join the colorful branch*/
.input-field{
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-field-title{
    font-size: 3.125rem;
    color: #FFFFFF;
}
.input-email{
    width: 644px;
    height: 47px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}
.subscribe{
    width: 186px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
}



/*footer style*/
.footer-items{
    max-width: 1120px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.footer-list-link ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.footer-list{
    list-style: none;
    gap: 32px;
}
.footer-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.footer-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.footer-icons{
    margin-left: 24px;
}



/*iphone 14*/
@media screen and (max-width: 576px){
    .navbar{
        margin: 0 16px;
    }
    .ul-list{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-left{
        margin: 0 16px;
    }
    .banner-img{
        width: 100%;
    }
    .card{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
    .flower-and-plant-lover{
        flex-direction: column;
    }
    .trusted-badge{
        display: none;
    }
    .discount{
        flex-direction: column;
    }





    .footer-items{
        flex-direction: column;
    }
    .footer-list-link ul{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }

}
